.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field {
  display: block;
  zoom: 1;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field:before {
  content: '';
  display: block;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field label {
  display: block;
  margin-bottom: 5px;
  
  text-align: left;
  
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field label strong {
  
  font-size: 16px;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field label.sow-form-field-label-left {
  float: left;
  margin-right: 10px;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field label.sow-form-field-label-right {
  float: right;
  margin-left: 10px;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field .sow-field-container {
  overflow: hidden;
  display: block;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field .sow-field-container textarea:focus,
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field .sow-field-container input:focus,
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field .sow-field-container > :focus {
  outline-style: solid;
  
  outline-width: 1px;
}
@media (min-width: 780px) {
  .so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-datepicker .sow-text-field,
  .so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-location .sow-text-field {
    max-width: none;
  }
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field textarea,
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field .sow-text-field {
  display: block;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: px;
  margin: 0px 0px 15px 0px;
  border: 1px solid #c0c0c0;
  padding: 8px;
  
  
  font-size: 16px;
  
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-radio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-radio ul li {
  margin: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-radio ul label {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-radio ul input {
  float: left;
  margin-right: 0.5em;
  height: auto;
  flex: none;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-checkboxes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-checkboxes ul li {
  align-items: center;
  display: flex;
  margin: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-checkboxes ul label {
  margin-bottom: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-checkboxes ul input {
  height: auto;
  margin-right: 0.5em;
  flex: none;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select select,
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-container {
  
  border-radius: px;
  border: 1px solid #c0c0c0;
  
  font-size: 16px;
  
  margin: 0px 0px 15px 0px;
  padding: 8px;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-container,
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-search__field {
  width: 100% !important;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-selection__rendered,
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-search__field {
  padding: 0;
  margin: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-selection__rendered:focus,
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-search__field:focus {
  outline: none;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-search {
  margin-left: 3px;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-selection__choice__remove {
  height: 100%;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-selection__choice {
  margin-left: 2px;
  margin-top: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field.sow-form-field-select .select2-selection--multiple {
  align-items: center;
  border: none;
  display: flex;
  padding: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-form-field .sow-form-field-description {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  color: #999999;
  font-style: italic;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-recaptcha {
  margin-bottom: 1em;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-contact-form {
  padding: 12px;
  border: #ffffff none 1px;
  background-color: #ffffff;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-contact-form .sow-error {
  background: #fce4e5;
  border: 1px solid #ec666a;
  color: #ec666a;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
  list-style: none;
  margin: 0 0 10px 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-contact-form .sow-error li {
  margin: 0;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-contact-form .sow-submit-styled {
  text-align: center;
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-contact-form .sow-submit-styled .sow-submit {
  color: #ffffff;
  border: 1px none #fff7f7;
  border-radius: 3px;
  font-weight: 500;
  
  padding: 10px 20px;
  display: inline-block;
  
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}
.so-widget-sow-contact-form-default-666c80c24d96 .sow-contact-form .sow-submit-styled .sow-submit:disabled {
  color: #ffffff;
  cursor: not-allowed;
  background: #d6a979;
  border: 1px none #ffffff;
}